.gallery img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}
.gallery img {
    margin: 10px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #52875e;
   
    padding: 20px;
background-image:url(modal.jpg);
background-size: cover; 

}
.sttable tbody tr:hover {
    background-color: #516285;
}

details {
    border: 3px solid #231f1f;
    border-radius: 10px;
    padding: 20px;
    margin: 20px; /*между*/
}
details:hover {
    background-color: #c3c2c2;
    transform: scale(1.02);
}

nav {
    margin-bottom: 20px;
}
nav a {
    margin-right: 15px;
    color: #142a12;
}
h1 {
    text-align: center;
    color: #11380b;
}
table {
    background-color: #ccc8c8;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    padding: 10px;
    text-align: left;
}
th {
    background-color: #112e0e;
    color: white;
}

figcaption {
    text-align: center;
  
}
aside {
    background-color: #e7f0f7;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    border: 5px solid #0d2512;
}
aside:hover {
    background-color: #698369;
    transform: scale(1.02);
}